# Intro

For this project, I will be using the London Bike Sharing Dataset from kaggle. It contains data from 1/4/2015-1/3/2017. Each observation is a 1-hour window and includes data on the number of bike shares, the weather, season, etc. See my data exploration below for more.

## Load in the data

In [1]:
import numpy as np
import pandas as pd
import zipfile
import kaggle

In [2]:
#!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

In [3]:
with zipfile.ZipFile('london-bike-sharing-dataset.zip', 'r') as file:
    file.extractall()

## Explore the data

In [4]:
bikes = pd.read_csv('london_merged.csv')
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [5]:
bikes.info

<bound method DataFrame.info of                  timestamp   cnt   t1   t2    hum  wind_speed  weather_code  \
0      2015-01-04 00:00:00   182  3.0  2.0   93.0         6.0           3.0
1      2015-01-04 01:00:00   138  3.0  2.5   93.0         5.0           1.0
2      2015-01-04 02:00:00   134  2.5  2.5   96.5         0.0           1.0
3      2015-01-04 03:00:00    72  2.0  2.0  100.0         0.0           1.0
4      2015-01-04 04:00:00    47  2.0  0.0   93.0         6.5           1.0
...                    ...   ...  ...  ...    ...         ...           ...
17409  2017-01-03 19:00:00  1042  5.0  1.0   81.0        19.0           3.0
17410  2017-01-03 20:00:00   541  5.0  1.0   81.0        21.0           4.0
17411  2017-01-03 21:00:00   337  5.5  1.5   78.5        24.0           4.0
17412  2017-01-03 22:00:00   224  5.5  1.5   76.0        23.0           4.0
17413  2017-01-03 23:00:00   139  5.0  1.0   76.0        22.0           2.0

       is_holiday  is_weekend  season
0             0.0         1.0     3.0
1             0.0         1.0     3.0
2             0.0         1.0     3.0
3             0.0         1.0     3.0
4             0.0         1.0     3.0
...           ...         ...     ...
17409         0.0         0.0     3.0
17410         0.0         0.0     3.0
17411         0.0         0.0     3.0
17412         0.0         0.0     3.0
17413         0.0         0.0     3.0

[17414 rows x 10 columns]>

In [6]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [7]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

## Preprocessing

#### Rename columns

In [8]:
new_cols_dict = {
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'}

bikes.rename(new_cols_dict, axis=1, inplace=True)

In [9]:
bikes.head()

,time,count,temp_real_C,temp_feels_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

#### Make humidity values percentages

In [10]:
bikes.humidity_percent = bikes.humidity_percent / 100

In [11]:
bikes.humidity_percent

0        0.930
1        0.930
2        0.965
3        1.000
4        0.930
         ...
17409    0.810
17410    0.810
17411    0.785
17412    0.760
17413    0.760
Name: humidity_percent, Length: 17414, dtype: float64

#### Map season and weather codes to actual meaning

In [12]:
np.sort(bikes.weather.unique())

array([ 1.,  2.,  3.,  4.,  7., 10., 26.])

In [13]:
bikes.weather = bikes.weather.astype(int)

In [14]:
np.sort(bikes.weather.unique())

array([ 1,  2,  3,  4,  7, 10, 26])

In [15]:
weather_dict = {
    1:'Clear',
    2:'Scattered clouds',
    3:'Broken clouds',
    4:'Cloudy',
    7:'Rain',
    10:'Rain with thunderstorm ',
    26:'Snowfall'}

In [16]:
bikes.season.unique()

array([3., 0., 1., 2.])

In [17]:
bikes.season = bikes.season.astype(int)

In [18]:
bikes.season.unique()

array([3, 0, 1, 2])

In [19]:
season_dict = {
    0:'Spring',
    1:'Summer',
    2:'Autumn',
    3:'Winter'}

In [20]:
bikes.head()

,time,count,temp_real_C,temp_feels_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3,0.0,1.0,3
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1,0.0,1.0,3
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1,0.0,1.0,3
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1,0.0,1.0,3
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1,0.0,1.0,3

In [21]:
bikes.weather = bikes.weather.map(weather_dict)
bikes.season = bikes.season.map(season_dict)

In [22]:
bikes

,time,count,temp_real_C,temp_feels_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Broken clouds,0.0,0.0,Winter
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Cloudy,0.0,0.0,Winter
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Cloudy,0.0,0.0,Winter
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Cloudy,0.0,0.0,Winter
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,Scattered clouds,0.0,0.0,Winter

## Export preprocessed dataset

In [24]:
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')